time {
    font-size: 80%;
    font-style: italic;
}

ul {
    list-style:none;
}

li article {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgrey;
}

article p {
    color: black;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}