<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
        {% include css.html %}
    </head>

    <body id="homepage" class="container">
        <header>
            {% include header.html %}
        </header>

        <div id="restaurant row">
            <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
            <span class="address">{{ page.address}}</span>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d/%m/%Y" }}</time>
            <span class="link"><a target="_blank" href="https://www.victoire-thomas.com/">Lien vers le site</a></span>
            {{ content }}
        </div>

        <div>
            {% if page.next %}<a href="{{ page.next.url|relative_url }}" class="next float-left">⬅ {{ page.next.title }}</a>{% endif %}
            {% if page.previous %}<a href="{{ page.previous.url|relative_url }}" class="previous float-right">{{ page.previous.title }} ➡</a>{% endif %}
        </div>
        {% include scripts.html %}
    </body>
</html>